* {
    box-sizing: border-box;
    font-size: 100%;
}
body {
    background: #f5f6f7;
}
.header {
    display: flex;
    align-items: center;
    position: fixed;
    font-family: 'Do Hyeon', sans-serif;
    height: 8%;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}
.titleName {
    display: block;
    width: 15%;
    text-align: center;
}

.myName {
    font-size: 1.7em;
    color: #00cbcc;
    text-decoration: none;
}
.myName:hover {
    cursor: pointer;
    color: #76ffff;
}
.titleNav {
    width: 80%;
}
.title_ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
}
.title_li {
    padding: 0 2em;
    font-style: italic;
} 
.linkNextpage {
    text-decoration: none;
    color: black;
}
.linkNextpage:hover {
    cursor: pointer;
    color: #8d8d8d;
    border-bottom: 1px solid #8d8d8d; 
}
.container {
    margin-top: 6%;
}
.write_content {
    display: flex;
    justify-content: center;
}
.wrap_all {
    border: 1px solid #f5f6f7;
    border-radius: 30px;
    background-color: white;
    width: 50%;
    padding: 2% 1%;
}
.header_content {
    text-align: center;
}
.header_badminton {
    font-family: 'Do Hyeon', 'sans-serif';
    font-size: 20px;
    margin: 5px;
    color: #37474f;
}
.header_badminton:hover {
    cursor: default;
    text-decoration: underline;
    text-decoration-color: #37474f;
}
.body_content {
    text-align: justify;
    padding: 2em 3.5em;
}
.content_badminton {
    color: #424242;
    font-size: 115%;
    font-weight: 400;
    font-family: 'Do Hyeon', 'sans-serif';
}
.content_badminton:hover {
    cursor: default;
}