* {
    box-sizing: border-box;
    font-size: 100%;
}
body {
    background: #f5f6f7;
}
.header {
    display: flex;
    align-items: center;
    position: fixed;
    font-family: 'Do Hyeon', sans-serif;
    height: 8%;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}
.titleName {
    display: block;
    width: 15%;
    text-align: center;
}

.myName {
    font-size: 1.7em;
    color: #00cbcc;
    text-decoration: none;
}
.myName:hover {
    cursor: pointer;
    color: #76ffff;
}
.titleNav {
    width: 80%;
}
.title_ul {
    display: flex;
    list-style: none;
    justify-content: center;
}
.title_li {
    padding: 0 4em;
    font-style: italic;
} 
.linkNextpage {
    text-decoration: none;
    color: black;
}
.linkNextpage:hover {
    cursor: pointer;
    color: #8d8d8d;
    border-bottom: 1px solid #8d8d8d;
}